{% extends "base.html" %} {% block content %}
<h2 class="text-center">Register</h2>
<form action="/auth/register" method="POST" class="mt-4">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary w-100">Register</button>
</form>
<div class="text-center mt-3">
  <p>or</p>
  <a href="/auth/login-google" class="btn btn-danger w-100"
    >Login with Google</a
  >
</div>
{% endblock %}
